<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/098f4923ce.js" crossorigin="anonymous"></script>
    <title>SeniorPetFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Abel|Mallanna|Barlow|Open+Sans+Condensed|Spartan|Josefin+Sans|Allerta+Stencil:300&display=swap" rel="stylesheet">
  

    <script type="text/javascript">
      window.pirateURL = "<%= image_url('pirate.jpg') %>";
      window.grayURL = "<%= image_url('graydog.jpg') %>";
      window.oldLogoURL = "<%= image_url('oldlogo.png') %>";
      window.dogLogoURL = "<%= image_url('doglogo.png') %>";
      window.homeURL = "<%= image_url('home.png') %>";
      window.userURL = "<%= image_url('user.png') %>";
      window.tennisURL = "<%= image_url('tennis.jpg') %>";
      window.smugURL = "<%= image_url('smug.png') %>";
      window.pawHeartURL = "<%= image_url('pawheart.png') %>";
      window.handHoldURL = "<%= image_url('handhold.png') %>";
      window.brainURL = "<%= image_url('brain.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
