<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/098f4923ce.js" crossorigin="anonymous"></script>
    <title>SeniorPetFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

    <script type="text/javascript">
      window.pirateURL = "<%= image_url('pirate.jpg') %>";
    </script>
    <script type="text/javascript">
      window.grayURL = "<%= image_url('graydog.jpg') %>";
    </script>
    <script type="text/javascript">
      window.oldLogoURL = "<%= image_url('oldlogo.png') %>";
    </script>
    <script type="text/javascript">
      window.dogLogoURL = "<%= image_url('doglogo.png') %>";
    </script>
    <script type="text/javascript">
      window.homeURL = "<%= image_url('home.png') %>";
    </script>
    <script type="text/javascript">
      window.userURL = "<%= image_url('user.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
